@page
@model PolovniAutomobili.Pages.Automobili.ListModel
@{
}
<h1>Automobili</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <button class="btn btn-primary">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
</form>
<table class="table">
    @foreach(var car in Model.Cars)
    {
        <tr>
            <td>@car.Id</td>
            <td>@car.Description</td>
            <td>@car.Gorivo</td>
            <td><a class="btn btn-lg" asp-page="./Detail" asp-route-carId="@car.Id">Detalji</a></td>
            <td><a class="btn btn-lg" asp-page="./Edit" asp-route-carId="@car.Id">Izmeni</a></td>
        </tr>
    }
</table>

<a class="btn btn-primary" asp-page="./Edit">Add new car</a>
@Model.Message;